<?xml version="1.0" encoding="UTF-8"?>
<configuration>
<!-- 	<appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender"> -->
<!--	   	<encoder charset="UTF-8"> -->
<!--             <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger - %msg%n</pattern> -->
<!--      	</encoder> -->
<!--     </appender>  -->

	<!-- 用 ch.qos.logback.ext.spring.DelegatingLogbackAppender 代替 ch.qos.logback.core.ConsoleAppender-->
	<appender name="consoleAppender" class="ch.qos.logback.ext.spring.DelegatingLogbackAppender" />
 
	<!--此appender 暂时没在applicationContext.xml中配置 -->
    <appender name="rollingFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>TRACE</level>
        </filter>
 
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- 如果文件路径不存在的话，就不会写文件 -->
            <fileNamePattern>/www-log/test-%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>15</maxHistory>
        </rollingPolicy>
        
        <encoder charset="UTF-8">
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger - %msg%n</pattern>
        </encoder>
    </appender>
 	
    <root level="DEBUG">
        <appender-ref ref="consoleAppender" />
        <appender-ref ref="rollingFile"/>
    </root>
    
    <!-- 名“logback.LogbackTest”的logger是root logger的孙子，孙子会覆盖祖先的配置 -->
    <logger name="logback.LogbackTest" level="WARN"/>
<!--     <logger name="org.springframework" level="DEBUG"/> -->
<!--     <logger name="org.hibernate" level="DEBUG"/> -->
</configuration>