<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<appender name="Stdout" class="ch.qos.logback.core.ConsoleAppender">
     	<encoder charset="UTF-8">
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger - %msg%n</pattern>
     	</encoder>
    </appender> 
 
    <appender name="RollingFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>TRACE</level>
        </filter>
 
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>/www-log/test-%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>15</maxHistory>
        </rollingPolicy>
        
        <encoder charset="UTF-8">
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger - %msg%n</pattern>
        </encoder>
    </appender>
 	
<!--     <root level="DEBUG"> -->
    <root level="DEBUG">
        <appender-ref ref="Stdout" />
        <appender-ref ref="RollingFile"/>
    </root>
    
    <!-- 名“logback.LogbackTest”的logger是root logger的孙子，孙子会覆盖祖先的配置 -->
    <logger name="logback.LogbackTest" level="WARN"/>
<!--     <logger name="org.springframework" level="DEBUG"/> -->
<!--     <logger name="org.hibernate" level="DEBUG"/> -->
</configuration>